.instagram-block {
  display: block; 
  border-top-left-radius: 5px; 
  border-top-right-radius: 5px; 
  border-bottom-right-radius: 5px; 
  border-bottom-left-radius: 5px; 
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187); 
  border-width: 1px; 
  border-style: solid; 
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;   
}

/*
  
.instagram-block:hover .pin-holder {
  visibility: visible;
}

.pin-holder {
  visibility: hidden;
  display: block; 
  border-radius: 10px;
  height: 25px;
  width: 25px;
  line-height: 25px;
  text-align: center;
  border-color: rgb(238, 238, 238) rgb(221, 221, 221) rgb(187, 187, 187); 
  border-width: 1px; 
  border-style: solid; 
  box-shadow: rgba(0, 0, 0, 0.14902) 0px 1px 3px;  
  color: red;
  margin-top: 15px;
}
*/